input, textarea, select {
    box-sizing: border-box;
    display: block;
    width: 250px;
    height: 30px;
    margin-bottom: 15px;
    font-family: 'Arial', Helvetica, sans-serif;
}

textarea {
    height: 150px;
    resize: none;
}
